*{
    margin: 0px;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.sidebar{
    width: 240px;
    height: 100%;
}
.page-content{
    width: calc(100% - 240px);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content-block{
    height:calc(100vh - 50px);
    overflow-y:auto;
    padding-bottom: 50px;
}



/* CSS for Vertical Menu (Left side) */



.sidemenuleft {
    list-style-type: none;
    padding-inline-start: 0px;
    height: calc(100vh - 50px);
    overflow-y: auto;
}
.sidemenu{
    list-style-type: none;
    padding-inline-start: 0px;
}
.topline{
    display: flex;
    width: calc(100%-1px);
    height: 50px;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-color: #132f7c;
}
.topimage{
    background-color: #132f7c;
    margin: 10px 0px 0px 10px;
    height: 30px;
}
.toptext{
    margin: 12px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-size:x-large;
    color: white;
}
.hline{
    border: 1px solid #909090;
}
.sidemenuleft li{
    width:100%;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    box-sizing: border-box;
}
.rowleft{
    width: 150px;
    display: flex;
    align-items: center;
}
.sidemenuleft li:hover{
    background-color:#2C72FF;
    color: white;
}

.imageleft{
    margin: 12px 0px 10px 10px;
    height: 19px;
}
.menutext{
    margin: 0px 0px 0px 15px;
    font-family: 'Roboto', sans-serif;
}
.imageright{
    margin: 15px 10px 15px 10px;
    height: 15px;
}



/* CSS for Horizontal Menu (Top right) */



.horizontalmenu{
    width: 100%;
    height: 50px;
    background-color: #132f7c;
}

.leftmenu{
    width: 25%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}
.rightmenu{
    width: 30%;
    height: 50px;
    margin-right: 10px;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
}
.iconstyle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.iconstyle:hover, .downarrow:hover, .profilepic:hover{
    cursor: pointer;
    background-color: #2C72FF;
}
.text{
    margin: 0px 7px 0px 12px;
    color: white;
}
.search{
    width: 178px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    align-items: center;
}
.searchbar{
    width: 155px;
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 6px 6px;
    border-radius: 10px;
    border: none;
    background: none;
    outline: none;
}
.searchbutton{
    color: black;
    margin: 2px 0px 0px 0px;
}
.profilepic{
    margin: 0px 10px 0px 15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.username{
    padding: 0px 2px 0px 0px;
    color: white;
}
.downarrow{
    width: 30px;
    height:30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



/* CSS for Cards (Upper section) */



.cards{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}
.headertext{
    font-family: 'Roboto', sans-serif;
    margin: 25px 0px 20px 30px;
}
.uppercards{
    width: 100%;
    height: 240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.upperbox{
    width: 240px;
    height: 200px;
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    box-shadow: 5px 5px 15px 5px #f0f2f5;
}
.upperboxtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialicons{
    color: rgb(26, 26, 172);
    font-size: xx-large;
}
.socialtext{
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.downtext{
    margin:0px 15px 0px 15px;
    font-family: 'Roboto', sans-serif;
}
.lowercards{
    width: 100%;
    height: 240px;
    margin: 20px 0px 0px 0px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.lowerbox{
    width: 240px;
    height: 200px;
    margin: 20px 0px 0px 0px;
    box-shadow: 2px 5px 15px 7px #d1d1d1;
}
.lowerprofileicon{
    height: 80px;
    display: flex;
    justify-content: center;
    margin: -35px 0px 0px 0px;
}
.lowerprofileiconsize{
    height: 70px;
}
.imagedown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.profilename{
    margin: 8px 0px 8px 0px;
}

.bottomicons{
    margin: 0px 0px 0px 10px;
}
.bottomline{
    width: 240px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px 0px 0px 0px;
    background-color: #b7b7b7;
}
.headercolor{
    color: rgb(44, 44, 240);
}



/* CSS for Table (Lower section) */



.lowersection{
    display: flex;
    flex-direction: column;
    margin: 50px 0px 10px 20px;
}
.table{
    width: 100%;
    margin: 20px 0px 0px 0px;
}
table{
    border-spacing: 0px;
    border-radius:12px;
}
th,td{
    border:1px solid #d3d3d3;
}
th:first-of-type{
    border-top-left-radius: 12px;
}
th:last-of-type{
    border-top-right-radius: 12px;
}
tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 12px;
}
tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 12px;
}

.table-element{
    text-align: center;
    padding: 15px;
}
.table-element-left{
    padding: 15px;
}
.tablefont{
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.rowhover:hover{
    background-color:#2C72FF;
}
.progressbar{
    width: 240px;
    padding: 0px 20px 0px 20px;
}
.leftprog{
    width:30%;
    height: 10px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #00008b;
}
.rightprog{
    width: 70%;
    height: 10px;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3d3d3;
}
.leftprog1{
    width:70%;
    height: 10px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ff4500;
}
.rightprog1{
    width: 30%;
    height: 10px;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d3d3d3;
}